@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans/NunitoSans-Regular.eot');
    src: url('../fonts/NunitoSans/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NunitoSans/NunitoSans-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans/NunitoSans-Regular.woff') format('woff'),
        url('../fonts/NunitoSans/NunitoSans-Regular.svg#NunitoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans/WorkSans-Regular.eot');
    src: url('../fonts/WorkSans/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WorkSans/WorkSans-Regular.woff2') format('woff2'),
        url('../fonts/WorkSans/WorkSans-Regular.woff') format('woff'),
        url('../fonts/WorkSans/WorkSans-Regular.svg#WorkSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserral/Montserrat-Medium.eot');
    src: url('../fonts/Montserral/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserral/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserral/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserral/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserral/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

