body {
	font-family: 'NunitoSans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
ul, li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

/*first screen*/
header {
	background: url(../img/header-bg.png) no-repeat center top / cover;
}
.logo {
	margin-top: 45px;
}
.menu {
	margin-top: 45px;
}
.menu__item a {
	text-transform: uppercase;
	text-decoration: none;
	color: #272727;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding-right: 30px;
}
.menu__item a:hover {
	color: #1ecbc6;
}
.banner {
	margin-top: 190px;
	margin-bottom: 200px;
}
.banner__title {
	font-family: 'Montserral', sans-serif;
	font-size: 38px;
	color: #1d1d1d;
	margin-bottom: 42px;
}
.banner__text {
	font-size: 18px;
	color: #787878;
	margin-bottom: 40px;
}
.banner__btn {
	font-size: 14px;
	font-family: 'Montserral', sans-serif;
	text-transform: uppercase;
	color: #fff;
	background: #10c9c3;
	border: none;
	padding: 18px 45px;
}
.about__block {
	margin-top: 100px;
	text-align: center;
}
.title {
	font-family: 'Montserral', sans-serif;
	font-size: 30px;
	font-weight: 700;
}
.about__text {
	color: #787878;
	font-size: 16px;
	padding-top: 40px;
}
.signature {
	padding: 45px 0 100px 0;
}
.professional__skills {
	background: #f8f9f9;
	font-family: 'Montserral', sans-serif;
}
.skills {
	margin-top: 170px;
}
.skills__img {
	width: 47.1em;
}
.skills__block {
	margin-bottom: 160px;
}
.skills__text {
	margin-top: 40px;
	font-size: 12px;
	font-weight: 900;
	text-transform: uppercase;
}
.skills__percent {
	margin-left: 15px;
}
.skills__line {
	margin-top: 15px;
	border-bottom: 3px solid #d8d8d8;
	position: relative;
	z-index: 1;
}
.skills__progress__1 {
		margin-top: -3px;
		border-bottom: 3px solid #10c9c3;
		width: 75%;
		position: relative;
		z-index: 2;
}
.skills__progress__2 {
		margin-top: -3px;
		border-bottom: 3px solid #10c9c3;
		width: 90%;
		position: relative;
		z-index: 2;
}
.skills__progress__3 {
		margin-top: -3px;
		border-bottom: 3px solid #10c9c3;
		width: 65%;
		position: relative;
		z-index: 2;
}